<div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal" [style.display]="status ? 'block' : 'none'">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h6 class="modal-title">Delete Payee</h6>
            <button type="button" class="close" data-dismiss="modal" (click) = "hideModel(false)">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <p>Are you sure you want to delete?</p>
            <!-- {{details.id}} -->
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click) = "ShowModelConfirm(details)">Yes</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click) = "hideModel(false)">No</button>
          </div>
          
        </div>
      </div>
    </div>
</div>