<div class="header">
    <img class="img-responsive" src="./../assets/images/icici-bank.jpg" alt="My image"/>
</div>
<br>
<br>
<div class="col-md-11">
    <div class="card">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus mi cursus libero finibus, id interdum nulla faucibus. In convallis nulla ut est sollicitudin fermentum. Etiam euismod, tortor eget maximus rutrum, sapien nibh gravida urna, eu maximus ante ex vitae neque. Suspendisse congue at nulla vitae tincidunt. Maecenas vel neque risus. Sed faucibus, sapien quis porta elementum, augue odio vestibulum sem, ac laoreet leo lectus nec eros. Etiam egestas aliquet erat eget mollis. Nunc eget posuere mi, sit amet imperdiet justo. In commodo lectus eget purus eleifend, eget consequat justo cursus. Ut vel finibus diam. Nullam eu viverra lacus, vitae facilisis felis. Donec pellentesque porta tortor consequat condimentum.

        Ut bibendum pellentesque turpis, et vestibulum elit tristique sit amet. Sed commodo odio sit amet mi rutrum, ut sagittis urna tincidunt. Nunc quis consectetur turpis. Praesent non odio aliquam, fringilla metus sit amet, feugiat nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut at ipsum sit amet erat finibus convallis imperdiet eu magna. Proin sed sem sed ante pharetra placerat. Praesent finibus auctor condimentum. Duis id scelerisque dolor, id aliquet nibh. Praesent ac fringilla turpis, ut elementum elit. Suspendisse maximus tellus et arcu luctus, id auctor felis commodo. Mauris cursus orci nec massa pharetra tincidunt ut at ante. Cras eget pharetra lectus.
        
        Vestibulum id lectus est. Praesent volutpat nunc diam, luctus lobortis diam semper et. Suspendisse potenti. Phasellus sagittis justo sed ornare bibendum. Etiam et euismod neque. Nulla rhoncus ante metus, sed euismod tellus aliquet sit amet. Maecenas porta tellus sit amet orci malesuada, vel ornare dui viverra. Cras vel lacus ligula.
        
        Phasellus suscipit sapien justo. Phasellus tristique arcu eros, nec sodales dolor vehicula ac. Curabitur ac dolor interdum, eleifend felis gravida, sodales est. Vivamus tempor neque a felis aliquam, eget volutpat ante tristique. Duis ultricies quam nisl, et viverra tortor sollicitudin eget. Curabitur id nunc mi. Proin facilisis eros eu urna scelerisque, nec fermentum libero efficitur. Suspendisse ultrices lorem nec erat fringilla facilisis. Aliquam dictum rutrum elit et varius. Sed arcu lacus, fermentum a blandit a, pulvinar nec nisl. Mauris eros tortor, tincidunt nec lacus sit amet, hendrerit dignissim leo. Maecenas eu porta lacus, at commodo nulla. Sed quis faucibus magna, id dignissim justo. Cras lobortis gravida pharetra. In hac habitasse platea dictumst.
    </div>  
</div>
    <br>
    <br>